{% import "_includes/forms" as forms %}

<h2>Spooler Settings</h2>

{%  set phpBinPath = constant('PHP_BINARY')? constant('PHP_BINARY') : '/usr/bin/php' %}

{% set code %}
    <code>*/10 * * * * {{ phpBinPath }} {{ alias('@root/craft') }} k4-mail-spooler/spool/send</code>
{% endset %}

{{ forms.field({
    label: "Cron Job"|t('campaign'),
    instructions: "Create a cron job with the following command to send spooled emails with the applied spooler settings on a scheduled basis (every 10 minutes for example). Change `{phpBinPath}` to the PHP path (if different)."|t('campaign', {phpBinPath: phpBinPath}),
}, code) }}

{{ forms.autosuggestField({
    label: "Message Limit"|t('k4-mail-spooler'),
    id: 'spoolerMessageLimit',
    name: 'spoolerMessageLimit',
    instructions: "The maximum number of messages to send per flush (default 0)."|t('k4-mail-spooler'),
    value: adapter.spoolerMessageLimit,
    size: 20,
    errors: adapter.getErrors('adapter.spoolerMessageLimit')
}) }}

{{ forms.autosuggestField({
    label: "Time Limit"|t('k4-mail-spooler'),
    id: 'spoolerTimeLimit',
    name: 'spoolerTimeLimit',
    instructions: "The time limit for sending messages (in seconds) per flush (default 30)."|t('k4-mail-spooler'),
    value: adapter.spoolerTimeLimit,
    size: 20,
    errors: adapter.getErrors('adapter.spoolerTimeLimit')
}) }}

{{ forms.autosuggestField({
    label: "Recover Timeout"|t('k4-mail-spooler'),
    id: 'spoolerRecoverTimeOut',
    name: 'spoolerRecoverTimeOut',
    instructions: "The timeout for recovering messages that have taken too long to send (in seconds) (default 900)."|t('k4-mail-spooler'),
    value: adapter.spoolerRecoverTimeOut,
    size: 20,
    errors: adapter.getErrors('adapter.spoolerRecoverTimeOut')
}) }}

</p>

<h2>SMTP Settings</h2>

{{ forms.autosuggestField({
label: "Host Name 123"|t('app'),
id: 'host',
name: 'host',
suggestEnvVars: true,
value: adapter.host,
required: true,
errors: adapter.getErrors('host')
}) }}

{{ forms.autosuggestField({
label: "Port"|t('app'),
id: 'port',
name: 'port',
suggestEnvVars: true,
value: adapter.port,
size: 20,
required: true,
errors: adapter.getErrors('port')
}) }}

{{ forms.checkboxField({
label: "Use authentication"|t('app'),
id: 'useAuthentication',
name: 'useAuthentication',
checked: adapter.useAuthentication,
toggle: 'auth-credentials'
}) }}

<div id="auth-credentials" class="nested-fields{% if not adapter.useAuthentication %} hidden{% endif %}">
    {{ forms.autosuggestField({
    label: "Username"|t('app'),
    id: 'username',
    name: 'username',
    suggestEnvVars: true,
    value: adapter.username,
    errors: adapter.getErrors('username')
    }) }}
    
    {{ forms.autosuggestField({
    label: "Password"|t('app'),
    id: 'password',
    name: 'password',
    suggestEnvVars: true,
    value: adapter.password,
    errors: adapter.getErrors('password')
    }) }}
</div>

{{ forms.selectField({
label: "Encryption Method",
id: 'encryptionMethod',
name: 'encryptionMethod',
options: [
{ value: '', label: "None"|t('app') },
{ value: 'ssl', label: "SSL"|t('app') },
{ value: 'tls', label: "TLS"|t('app') }
],
default: 'none',
value: adapter.encryptionMethod
}) }}

{{ forms.textField({
label: "Timeout"|t('app'),
id: 'timeout',
name: 'timeout',
value: adapter.timeout,
size: 2,
required: true,
errors: adapter.getErrors('timeout')
}) }}
